[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eatRep"]
	path = eatRep
	url = https://github.com/weirichs/eatrep
[submodule "eatTools"]
	path = eatTools
	url = https://github.com/weirichs/eattools
